<div style="background-color: lightgrey;">
<div id="imagenPrincipal">
    <img src="../../../assets/media/familia.png"/>
</div>            
<table border="1" class="table">
    <tr>
        <th><img src="../../../assets/media/info.png"/>INFORMACIÓN ACERCA DE<br/> NUESTRO SERVICIO</th>
        <th><img src="../../../assets/media/doc.png"/>CONTAMOS CON LOS MEJORES PROFESIONALES <br/>DE LA SALUD PARA USTED</th>
        <th><img src="../../../assets/media/dinero.png"/>LOS MEJORES PRECIOS ACOMODADOS <br/>PARA LA NECESIDAD DE SU FAMILIA</th>
    </tr>
    <tr>
        <td class="col1"><strong><p>Nuestra organización siempre prioriza la<br>  felicidad de sus clientes por encima de todo.</p></strong><p>Somos un grupo de profesionales que ofrecen los <br> mejores servicios para que usted y su familia<br> solo puedan preocuparse de vivir una vida de calidad.</p></td>
        <td class="col2"><strong><p>Ofrecemos los servicios de los mejores<br> profesionales de la salud en todo momento.</p></strong><p> Disponemos de los servicios de los mejores profesionales <br>de la salud para cuidar del bienestar de usted y su familia.<br> Puede consultar la lista completa de clinicas y<br> profesionales miembros de nuestra organización<br> haciendo clic en el botón de abajo.</p></td>
        <td class="col3"><strong><p>Tenemos una gran variedad de ofertas disponibles<br> para darle un respiro a tu bolsillo.</p></strong><p>Proponemos precios y planes de servicio acomodados para<br> todos los gustos, de esta forma podrás disfrutar de nuestros mejores<br> servicios sin tener que preocuparse bastante por su dinero.</p></td>
    </tr>
    <tr>
        <td class="col1"><a href="https://es.wikipedia.org/wiki/Obra_social_(Argentina)">MÁS INFORMACIÓN</a></td>
        <td class="col2"><a href="https://sisa.msal.gov.ar/sisa/#sisa">CONOZCA A NUESTRO PERSONAL</a></td>
        <td class="col3"><a href="https://www.compreseguros.com/aseguradoras/instituto-de-seguros-de-jujuy">DESCUBRA NUESTRAS OFERTAS</a></td>
    </tr>               
</table>
<br>
</div>
