<div id="formulario">
    <h1><b>Formulario de registro de nuevo cliente</b></h1>
    <form name="input" action="index.html" method="get">
     <table border="1">
            <tr>
                <td class="colum1">ID de usuario: </td>
                <td><input type="text" name="ID"/></td>
            </tr>
            <tr>
                <td class="colum1">Contraseña: </td>
                <td><input type="password" name="contraseña"/></td>
            </tr>
            <tr>
                <td class="colum1">Repita la contraseña: </td>
                <td><input type="password"/></td>
            </tr>
            <tr>
                <td class="colum1">E-mail: </td>
                <td><input type="email" name="email"/></td>
            </tr>
            <tr>
                <td class="colum1">Repita el E-mail: </td>
                <td><input type="email"/></td>
            </tr>
            <tr>
                <td class="colum1">Nombre completo: </td>
                <td><input type="text" name="nombre"></td>
            </tr>
            <tr>
                <td class="colum1">Fecha de nacimiento: </td>
                <td><input type="date" name="fecha"/></td>
            </tr>
            <tr>
                <td class="colum1">Sexo: </td>
                <td><input type="radio" name="sexo" value="Masculino"/>Masculino<input type="radio" name="sexo" value="Femenino"/>Femenino </td>
            </tr>
        </table>
        <div id="botones">
            <input type="submit" value="Enviar"/> <input type="reset" value="Cancelar"/>
        </div>    
    </form>
</div>
<div id="relleno">
    <img src="../../../assets/media/fondo_reg.png"/>
</div>